@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
// @import './header.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    // padding: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    // color: $color-light-grey;
    box-sizing: border-box;
    background-color: #F2EFEF;
    overflow-x: hidden;
    // position: relative;
}

.main-content {
    padding: 8rem 4rem;
}
